In [2]:
import pandas as pd
import numpy as np
import datetime
from dateutil.parser import parse as du_parse
from dateutil.relativedelta import relativedelta
pd.set_option('display.max_rows', 60)
pd.set_option('display.max_columns', 100)

In [2]:
# df = pd.read_csv('C:/Users\Mangol/Notebooks/DataScience-Practice/Profitable choosing car/test_data/test.csv')
# df.head(10)

In [2]:
columns = ['bodyType','brand','color','fuelType','modelDate','name','numberOfDoors','productionDate','vehicleConfiguration','vehicleTransmission','engineDisplacement','enginePower','description','mileage','Комплектация','Привод','Руль','Состояние','Владельцы','ПТС','Таможня','Владение', 'Цена']
# columns = ['body_type','brand','color','fuel_type','model_date','name','number_of_doors','production_date','vehicle_configuration','vehicle_transmission','engine_displacement','engine_power','description','mileage','complectation','drive','stear','conditions','owners','pts','customs','ownership', 'price']
# df_auto1 = pd.DataFrame(columns = ['bodyType', 'brand', 'color', 'fuelType', 'modelDate', 'name', 'numberOfDoors', 'productionDate', 'vehicleConfiguration', 'vehicleTransmission', 'engineDisplacement', 'enginePower', 'description', 'mileage', 'Комплектация', 'Привод', 'Руль', 'Состояние', 'Владельцы', 'ПТС', 'Таможня', 'Владение'])
# df_auto = pd.read_csv('Save_auto1.txt', header = None, sep= ';')

In [76]:
df_auto_ready = pd.read_csv('C:/Users/Mangol/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/BMW_train_19082020.csv', sep = ';')
df_auto_ready = df_auto_ready.drop(['Unnamed: 0','id'], axis = 1)
# df_auto = pd.read_csv('Save_auto_BMW_1er.txt', header = None, sep = ';')
df_auto = pd.read_csv('C:/Users/Mangol/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_all_bmw_auto_230820.txt', header = None, sep = ';')
df_auto1 = pd.read_csv('C:/Users/Mangol/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_all_bmw_auto_230820_2.txt', header = None, sep = ';')
df_auto2 = pd.read_csv('C:/Users/Mangol/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_all_bmw_auto_240820_2.txt', header = None, sep = ';')
# df_auto2 = pd.read_csv('Save_auto_BMW_2er_active_tour.txt', header = None, sep = ';')
# df_auto3 = pd.read_csv('Save_auto_BMW_3er.txt', header = None, sep = ';')
# df_auto4 = pd.read_csv('Save_auto_BMW_4_5er.txt', header = None, sep = ';')
# df_auto5 = pd.read_csv('Save_auto_BMW_6_7.txt', header = None, sep = ';')
# df_auto6 = pd.read_csv('Save_auto_BMW_8er_X3.txt', header = None, sep = ';')
# df_auto7 = pd.read_csv('Save_auto_BMW_X4_X5.txt', header = None, sep = ';')
# df_auto8 = pd.read_csv('Save_auto_BMW_X5_Z4.txt', header = None, sep = ';')

In [78]:
df_auto_ready.head(1)

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена
0,Хэтчбек 5 дв.,BMW,серый,бензин,2004.0,120i 2.0 MT (150 л.с.),5.0,2004,HATCHBACK_5_DOORS MECHANICAL 2.0,механическая,2.0 LTR,150 N12,Вашему вниманию предлагается очень интересная ...,198000.0,None,задний,Левый,Не требует ремонта,2,Оригинал,Растаможен,10 лет и 11 месяцев,450000

In [77]:
df_auto.head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
0,Седан,BMW,97948F,GASOLINE,1968,2.5 MT (150 л.с.),4,1969,SEDAN MECHANICAL 2.5,MECHANICAL,2.5 LTR,150 N12,В продаже оригинальная BMW 2500 Родной двигат...,200000,None,REAR_DRIVE,LEFT,True,2,ORIGINAL,True,2011.1,460000

In [79]:
df_auto = df_auto.append(df_auto1, ignore_index = True)
df_auto = df_auto.append(df_auto2, ignore_index = True)
# df_auto = df_auto.append(df_auto3, ignore_index = True)
# df_auto = df_auto.append(df_auto4, ignore_index = True)
# df_auto = df_auto.append(df_auto5, ignore_index = True)
# df_auto = df_auto.append(df_auto6, ignore_index = True)
# df_auto = df_auto.append(df_auto7, ignore_index = True)
# df_auto = df_auto.append(df_auto8, ignore_index = True)

In [80]:
df_auto.columns = columns
df_auto_ready.columns = columns

In [81]:
df_auto.shape

(118123, 23)

In [82]:
df_auto_ready.shape

(34511, 23)

In [62]:
df_auto = df_auto.append(df_auto1, ignore_index = True)

In [63]:
df_auto.head(1)

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена
0,Хэтчбек 5 дв.,BMW,серый,бензин,2004.0,120i 2.0 MT (150 л.с.),5.0,2004,HATCHBACK_5_DOORS MECHANICAL 2.0,механическая,2.0 LTR,150 N12,Вашему вниманию предлагается очень интересная ...,198000.0,None,задний,Левый,Не требует ремонта,2,Оригинал,Растаможен,10 лет и 11 месяцев,450000

In [65]:
def convert_time_delta(item):
    year = ''
    month =''
    if item == 'None':
        return('None')
    else:
        item = pd.to_datetime(item, format='%Y.%m', errors='ignore')
        now = datetime.datetime.now()
        d1 = du_parse(str(item))
        d2 = du_parse(str(now))
        delta = relativedelta(d2, d1)


        if delta.years == 1:
            year = 'год'
        elif delta.years in [2,3,4]:
            year = 'года'
        else:
            year = 'лет'


        if delta.months == 1:
            month = 'месяц'
        elif delta.months in [2,3,4]:
            month = 'месяца'
        else:
            month = 'месяцев'
        delta_string = str(delta.years) + ' ' +year +' и ' + str(delta.months) + ' ' +month
        return(delta_string)

def owner_correction (item):
    if item == 'None':
        return('None')
    elif item == 1 or item == '1':
        # item = item.astype(int64)
        owner = 'владелец'
    # elif (item in [2,3,4]) or (item in ['2','3','4'])
    else:
        # item = item.astype(int64)
        owner = 'владельца'
    owner_string = str(item) + ' ' + owner
    return(owner_string)

color_dict = {
    '040001':'чёрный',
    'CACECB':'серебристый',
    'FAFBFB':'белый',
    '97948F':'серый',
    '0000CC':'синий',
    'EE1D19':'красный',
    '007F00':'зеленый',
    '200204':'коричневый',
    'C49648':'бежевый',
    '22A0F8':'голубой',
    'DEA522':'золотистый',
    '660099':'пурпурный',
    '4A2197':'фиолетовый',
    'FFD600':'жёлтый',
    'FF8649':'оранжевый',
    'FFC0CB':'розовый'
}

fuel_dict = {
    'GASOLINE':'бензин',
    'DIESEL':'дизель',
    'ELECTRO':'электро',
    'HYBRID':'гибрид',
    'LPG':'газ'
}

transmission_dict = {
    'AUTOMATIC':'автоматическая',
    'MECHANICAL':'механическая',
    'ROBOT':'роботизированная',
    'VARIATOR':'вариатор'
}

privod_dict = {
    'FORWARD_CONTROL':'передний',
    'REAR_DRIVE':'задний',
    'ALL_WHEEL_DRIVE':'полный'
}

stearing_wheel_dict = {
    'LEFT':'левый',
    'RIGHT':'правый'
}

state_dict = {
    'True':'Не требует ремонта',
    'False':'Битая/Не на ходу'
}

pts_dict = {
    'ORIGINAL':'Оригинал',
    'DUPLICATE':'Дубликат'
}

legal_dict = {
    'True':'Растаможен',
    'False':'Не растаможен'
}

df_auto['color'] = df_auto['color'].replace(to_replace=color_dict)    
df_auto['modelDate'] = df_auto['modelDate'].astype(np.float64)
df_auto['mileage'] = df_auto['mileage'].astype(np.float64)
df_auto['numberOfDoors'] = df_auto['numberOfDoors'].astype(np.float64)
df_auto['fuelType'] = df_auto['fuelType'].replace(to_replace=fuel_dict)   
df_auto['vehicleTransmission'] = df_auto['vehicleTransmission'].replace(to_replace=transmission_dict)
df_auto['Привод'] = df_auto['Привод'].replace(to_replace=privod_dict)
df_auto['Руль'] = df_auto['Руль'].replace(to_replace=stearing_wheel_dict)
df_auto['Состояние'] = df_auto['Состояние'].astype(str)             
df_auto['Состояние'] = df_auto['Состояние'].replace(to_replace=state_dict)
df_auto['ПТС'] = df_auto['ПТС'].replace(to_replace=pts_dict)
df_auto['Таможня'] = df_auto['Таможня'].astype(str)
df_auto['Таможня'] = df_auto['Таможня'].replace(to_replace=legal_dict)
df_auto['Владение'] = df_auto['Владение'].apply(convert_time_delta)
df_auto['Владельцы'] = df_auto['Владельцы'].apply(owner_correction)

ParserError: Unknown string format: 10 лет и 11 месяцев

In [9]:
df_auto.shape

(4407, 23)

In [10]:
df_new = df_auto.drop_duplicates(keep = 'first')
df_new = df_new.reset_index()
df_new = df_new.drop(['index'], axis = 1)
df_new['id'] = df_new.index

In [11]:
df_auto.shape

(4407, 23)

In [14]:
# df_new.to_csv('auto_ready.csv', sep = ';')
df_new.to_csv('BMW_ready.csv', sep = ';')

In [18]:
df_auto = pd.read_csv('Save_auto.txt', header = None, sep = ';')

FileNotFoundError: [Errno 2] File Save_auto.txt does not exist: 'Save_auto.txt'

In [19]:
df_auto1.columns = columns

In [20]:
df_auto.shape

(3703, 23)

In [15]:
#Присоединяем к большому файлу
df_all = pd.read_csv('auto_ready.csv', sep = ';')

In [16]:
df_all = df_all.drop(['Unnamed: 0'], axis = 1)
df_all.head(3)

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена
0,Седан,LADA (ВАЗ),зеленый,бенизин,1997.0,1.5 MT (78 л.с.),4.0,2006,SEDAN MECHANICAL 1.5,механическая,1.5 LTR,78 N12,Для своих лет авто в хорошем состоянии За чет...,253000.0,None,передний,левый,Не требует ремонта,3,Оригинал,Растаможен,4 года и 2 месяца,100000
1,Хэтчбек 5 дв.,Ford,белый,бенизин,2014.0,1.6 AMT (125 л.с.),5.0,2017,HATCHBACK_5_DOORS ROBOT 1.6,роботизированная,1.6 LTR,125 N12,Приобретался в салоне официального дилера в 20...,43000.0,"['multi-wheel', 'heated-wash-system', 'airbag-...",передний,левый,Не требует ремонта,1,Оригинал,Растаможен,2 года и 10 месяцев,680000
2,Компактвэн,Fiat,белый,дизель,2005.0,1.3d MT (75 л.с.),5.0,2008,MINIVAN MECHANICAL 1.2,механическая,1.2 LTR,75 N12,Состояние не требует вложений Очень хороший п...,230000.0,None,передний,левый,Не требует ремонта,3,Оригинал,Растаможен,2 года и 1 месяц,265000

In [15]:
df_all.shape

(9219, 23)

In [17]:
df_all = df_all.append(df_new, ignore_index = True)

In [18]:
df_all.shape

(16995, 23)

In [19]:
df_all = df_all.drop_duplicates(keep = 'first')

In [20]:
df_all.shape

(13982, 23)

In [21]:
df_all.to_csv('auto_ready.csv', sep = ';')

# Новый файл (с выборкой по годам)

In [35]:
import pandas as pd
import numpy as np
import datetime
from dateutil.parser import parse as du_parse
from dateutil.relativedelta import relativedelta
pd.set_option('display.max_rows', 60)
pd.set_option('display.max_columns', 100)

# columns = ['bodyType','brand','color','fuelType','modelDate','name','numberOfDoors','productionDate','vehicleConfiguration','vehicleTransmission','engineDisplacement','enginePower','description','mileage','Комплектация','Привод','Руль','Состояние','Владельцы','ПТС','Таможня','Владение', 'Цена']

# df_auto.columns = columns
# df_auto.tail(3)

In [36]:
df_auto_ready = pd.read_csv('C:/Users/Mangol/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/BMW_train_19082020.csv', sep = ';')

In [37]:
df_auto_ready.shape

(34511, 25)

In [39]:
df_auto = pd.read_csv('C:/Users/Mangol/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_all_bmw_auto_270820.txt', header = None, sep = ';')
df_auto1 = pd.read_csv('C:/Users/Mangol/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_all_bmw_auto_260820_2.txt', header = None, sep = ';')

In [40]:
df_auto.shape

(78084, 23)

In [41]:
df_auto.columns = columns
df_auto_ready.columns = columns

ValueError: Length mismatch: Expected axis has 25 elements, new values have 23 elements

In [83]:
def convert_time_delta(item):
    year = ''
    month =''
    if item == 'None':
        return('None')
    else:
        item = pd.to_datetime(item, format='%Y.%m', errors='ignore')
        now = datetime.datetime.now()
        d1 = du_parse(str(item))
        d2 = du_parse(str(now))
        delta = relativedelta(d2, d1)


        if delta.years == 1:
            year = 'год'
        elif delta.years in [2,3,4]:
            year = 'года'
        else:
            year = 'лет'


        if delta.months == 1:
            month = 'месяц'
        elif delta.months in [2,3,4]:
            month = 'месяца'
        else:
            month = 'месяцев'
        delta_string = str(delta.years) + ' ' +year +' и ' + str(delta.months) + ' ' +month
        return(delta_string)

def model_date_correction (item):
    if item == 'None':
        return('0')
    else:
        return(item)

def number_doors_correction (item):
    if item == 'None':
        return('0')
    else:
        return(item)

color_dict = {
    '040001':'чёрный',
    'CACECB':'серебристый',
    'FAFBFB':'белый',
    '97948F':'серый',
    '0000CC':'синий',
    'EE1D19':'красный',
    '007F00':'зеленый',
    '200204':'коричневый',
    'C49648':'бежевый',
    '22A0F8':'голубой',
    'DEA522':'золотистый',
    '660099':'пурпурный',
    '4A2197':'фиолетовый',
    'FFD600':'жёлтый',
    'FF8649':'оранжевый',
    'FFC0CB':'розовый'
}

fuel_dict = {
    'GASOLINE':'бензин',
    'DIESEL':'дизель',
    'ELECTRO':'электро',
    'HYBRID':'гибрид',
    'LPG':'газ'
}

transmission_dict = {
    'AUTOMATIC':'автоматическая',
    'MECHANICAL':'механическая',
    'ROBOT':'роботизированная',
    'VARIATOR':'вариатор'
}

privod_dict = {
    'FORWARD_CONTROL':'передний',
    'REAR_DRIVE':'задний',
    'ALL_WHEEL_DRIVE':'полный'
}

stearing_wheel_dict = {
    'LEFT':'Левый',
    'RIGHT':'Правый'
}

state_dict = {
    'True':'Не требует ремонта',
    'False':'Битая/Не на ходу'
}

pts_dict = {
    'ORIGINAL':'Оригинал',
    'DUPLICATE':'Дубликат'
}

legal_dict = {
    'True':'Растаможен',
    'False':'Не растаможен'
}

df_auto['color'] = df_auto['color'].replace(to_replace=color_dict)
df_auto['modelDate'] = df_auto['modelDate'].apply(model_date_correction)  
df_auto['modelDate'] = df_auto['modelDate'].astype(np.float64)
df_auto['mileage'] = df_auto['mileage'].astype(np.float64)
df_auto['numberOfDoors'] = df_auto['numberOfDoors'].apply(number_doors_correction)  
df_auto['numberOfDoors'] = df_auto['numberOfDoors'].astype(np.float64)
df_auto['fuelType'] = df_auto['fuelType'].replace(to_replace=fuel_dict)   
df_auto['vehicleTransmission'] = df_auto['vehicleTransmission'].replace(to_replace=transmission_dict)
df_auto['Привод'] = df_auto['Привод'].replace(to_replace=privod_dict)
df_auto['Руль'] = df_auto['Руль'].replace(to_replace=stearing_wheel_dict)
df_auto['Состояние'] = df_auto['Состояние'].astype(str)             
df_auto['Состояние'] = df_auto['Состояние'].replace(to_replace=state_dict)
df_auto['ПТС'] = df_auto['ПТС'].replace(to_replace=pts_dict)
df_auto['Таможня'] = df_auto['Таможня'].astype(str)
df_auto['Таможня'] = df_auto['Таможня'].replace(to_replace=legal_dict)
df_auto['Владение'] = df_auto['Владение'].apply(convert_time_delta)

In [84]:
df_auto.head(1)

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена
0,Седан,BMW,серый,бензин,1968.0,2.5 MT (150 л.с.),4.0,1969,SEDAN MECHANICAL 2.5,механическая,2.5 LTR,150 N12,В продаже оригинальная BMW 2500 Родной двигат...,200000.0,None,задний,Левый,Не требует ремонта,2,Оригинал,Растаможен,9 лет и 7 месяцев,460000

In [86]:
df_auto = df_auto.append(df_auto_ready, ignore_index = True)
df_auto.shape

(152634, 23)

In [97]:
df_auto = df_auto.drop_duplicates(keep = 'first')
df_auto['id'] = df_auto.index 
df_auto.shape

(55384, 24)

In [96]:
df_auto.bodyType.unique()

array(['Седан', 'Седан 2 дв.', 'Купе', 'Кабриолет', 'Универсал 5 дв.',
       'Купе-хардтоп', 'Родстер', 'Хэтчбек 3 дв. Compact', 'Седан Long',
       'Внедорожник 5 дв.', 'Хэтчбек 5 дв.', 'Хэтчбек 3 дв.',
       'Лифтбек Gran Turismo', 'Седан Gran Coupe', 'Лифтбек Gran Coupe',
       'Компактвэн Gran Tourer', 'Компактвэн', 'Родстер Roadster'],
      dtype=object)

In [98]:
df_auto.to_csv('BMW_ready_24082020.csv', sep = ';')

In [17]:
df_auto.head(3)

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена,id
0,Седан,BMW,серый,бензин,1968.0,2.5 MT (150 л.с.),4.0,1969,SEDAN MECHANICAL 2.5,механическая,2.5 LTR,150 N12,В продаже оригинальная BMW 2500 Родной двигат...,200000.0,None,задний,Левый,Не требует ремонта,2,Оригинал,Растаможен,9 лет и 7 месяцев,460000,0
1,Седан 2 дв.,BMW,оранжевый,бензин,1966.0,2.0 MT (101 л.с.),2.0,1972,COUPE MECHANICAL 2.0,механическая,2.0 LTR,101 N12,В СССР прибыл новым В семье с 1977 г Один вл...,117000.0,None,задний,Левый,Не требует ремонта,1,Оригинал,Растаможен,42 лет и 8 месяцев,1000000,1
3,Седан,BMW,голубой,бензин,1972.0,520 2.0 MT (115 л.с.),4.0,1973,SEDAN MECHANICAL 2.0,механическая,2.0 LTR,115 N12,Продаю BMW 520 на ходу Все вопросы по поводу...,30000.0,None,задний,Левый,Не требует ремонта,1,Оригинал,Растаможен,None,500000,3

# Добавление новых данных к последнему датасету

In [2]:
df_auto_ready = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/train_data/BMW_ready_02092020.csv', sep = ';')

In [3]:
columns = ['bodyType','brand','color','fuelType','modelDate','name','numberOfDoors','productionDate','vehicleConfiguration','vehicleTransmission','engineDisplacement','enginePower','description','mileage','Комплектация','Привод','Руль','Состояние','Владельцы','ПТС','Таможня','Владение', 'Цена']
# columns = ['body_type','brand','color','fuel_type','model_date','name','number_of_doors','production_date','vehicle_configuration','vehicle_transmission','engine_displacement','engine_power','description','mileage','complectation','drive','stear','conditions','owners','pts','customs','ownership', 'price']
# df_auto1 = pd.DataFrame(columns = ['bodyType', 'brand', 'color', 'fuelType', 'modelDate', 'name', 'numberOfDoors', 'productionDate', 'vehicleConfiguration', 'vehicleTransmission', 'engineDisplacement', 'enginePower', 'description', 'mileage', 'Комплектация', 'Привод', 'Руль', 'Состояние', 'Владельцы', 'ПТС', 'Таможня', 'Владение'])
# df_auto = pd.read_csv('Save_auto1.txt', header = None, sep= ';')

In [4]:
df_auto_ready.head(1)

,Unnamed: 0,index,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена,id
0,0,0,Седан,BMW,серый,бензин,1968.0,2.5 MT (150 л.с.),4.0,1969,SEDAN MECHANICAL 2.5,механическая,2.5 LTR,150 N12,В продаже оригинальная BMW 2500 Родной двигат...,200000.0,None,задний,Левый,Не требует ремонта,2,Оригинал,Растаможен,9 лет и 7 месяцев,460000,0

In [5]:
# df_auto_ready = df_auto_ready.drop(['Unnamed: 0','id'], axis = 1)
df_auto_ready = df_auto_ready.drop(['Unnamed: 0','id','index'], axis = 1)

In [6]:
df_auto_ready.columns = columns

In [7]:
df_auto = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_bmw_auto_090920.txt', header = None, sep = ';')
df_auto1 = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_bmw_auto_090920_1.txt', header = None, sep = ';')
df_auto2 = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_bmw_auto_090920_3.txt', header = None, sep = ';')
df_auto3 = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_bmw_auto_090920_4.txt', header = None, sep = ';')
df_auto4 = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_bmw_auto_090920_5.txt', header = None, sep = ';')
df_auto5 = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_bmw_auto_090920_6.txt', header = None, sep = ';')
# df_auto6 = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_bmw_auto_090920.txt', header = None, sep = ';')
# df_auto7 = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_bmw_auto_090920.txt', header = None, sep = ';')
# df_auto_new2 = pd.read_csv('C:/Users/Mangol/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_all_bmw_auto_240820_2.txt', header = None, sep = ';')

In [9]:
df_auto.columns = columns
df_auto1.columns = columns
df_auto2.columns = columns
df_auto3.columns = columns
df_auto4.columns = columns
df_auto5.columns = columns
# df_auto6.columns = columns
df_auto = df_auto.append(df_auto1, ignore_index = True)
df_auto = df_auto.append(df_auto2, ignore_index = True)
df_auto = df_auto.append(df_auto3, ignore_index = True)
df_auto = df_auto.append(df_auto4, ignore_index = True)
df_auto = df_auto.append(df_auto5, ignore_index = True)
# df_auto = df_auto.append(df_auto6, ignore_index = True)

In [10]:
df_auto.shape

(45639, 23)

In [11]:
df_auto = df_auto.query("Цена not in ['None']")

In [14]:
df_auto.shape

(16020, 23)

In [12]:
df_auto = df_auto.drop_duplicates(keep = 'first')

In [14]:
#Делаем обработку данных
def convert_time_delta(item):
    year = ''
    month =''
    if item == 'None':
        return('None')
    else:
        item = pd.to_datetime(item, format='%Y.%m', errors='ignore')
        now = datetime.datetime.now()
        d1 = du_parse(str(item))
        d2 = du_parse(str(now))
        delta = relativedelta(d2, d1)


        if delta.years == 1:
            year = 'год'
        elif delta.years in [2,3,4]:
            year = 'года'
        else:
            year = 'лет'


        if delta.months == 1:
            month = 'месяц'
        elif delta.months in [2,3,4]:
            month = 'месяца'
        else:
            month = 'месяцев'
        delta_string = str(delta.years) + ' ' +year +' и ' + str(delta.months) + ' ' +month
        return(delta_string)

def model_date_correction (item):
    if item == 'None':
        return('0')
    else:
        return(item)

def number_doors_correction (item):
    if item == 'None':
        return('4')
    else:
        return(item)

color_dict = {
    '040001':'чёрный',
    'CACECB':'серебристый',
    'FAFBFB':'белый',
    '97948F':'серый',
    '0000CC':'синий',
    'EE1D19':'красный',
    '007F00':'зеленый',
    '200204':'коричневый',
    'C49648':'бежевый',
    '22A0F8':'голубой',
    'DEA522':'золотистый',
    '660099':'пурпурный',
    '4A2197':'фиолетовый',
    'FFD600':'жёлтый',
    'FF8649':'оранжевый',
    'FFC0CB':'розовый'
}

fuel_dict = {
    'GASOLINE':'бензин',
    'DIESEL':'дизель',
    'ELECTRO':'электро',
    'HYBRID':'гибрид',
    'LPG':'газ'
}

transmission_dict = {
    'AUTOMATIC':'автоматическая',
    'MECHANICAL':'механическая',
    'ROBOT':'роботизированная',
    'VARIATOR':'вариатор'
}

privod_dict = {
    'FORWARD_CONTROL':'передний',
    'REAR_DRIVE':'задний',
    'ALL_WHEEL_DRIVE':'полный'
}

stearing_wheel_dict = {
    'LEFT':'Левый',
    'RIGHT':'Правый'
}

state_dict = {
    'True':'Не требует ремонта',
    'False':'Битая/Не на ходу'
}

pts_dict = {
    'ORIGINAL':'Оригинал',
    'DUPLICATE':'Дубликат'
}

legal_dict = {
    'True':'Растаможен',
    'False':'Не растаможен'
}

df_auto['color'] = df_auto['color'].replace(to_replace=color_dict)
df_auto['modelDate'] = df_auto['modelDate'].apply(model_date_correction)  
df_auto['modelDate'] = df_auto['modelDate'].astype(np.float64)
df_auto['mileage'] = df_auto['mileage'].astype(np.float64)
df_auto['numberOfDoors'] = df_auto['numberOfDoors'].apply(number_doors_correction)  
df_auto['numberOfDoors'] = df_auto['numberOfDoors'].astype(np.float64)
df_auto['fuelType'] = df_auto['fuelType'].replace(to_replace=fuel_dict)   
df_auto['vehicleTransmission'] = df_auto['vehicleTransmission'].replace(to_replace=transmission_dict)
df_auto['Привод'] = df_auto['Привод'].replace(to_replace=privod_dict)
df_auto['Руль'] = df_auto['Руль'].replace(to_replace=stearing_wheel_dict)
df_auto['Состояние'] = df_auto['Состояние'].astype(str)             
df_auto['Состояние'] = df_auto['Состояние'].replace(to_replace=state_dict)
df_auto['ПТС'] = df_auto['ПТС'].replace(to_replace=pts_dict)
df_auto['Таможня'] = df_auto['Таможня'].astype(str)
df_auto['Таможня'] = df_auto['Таможня'].replace(to_replace=legal_dict)
df_auto['Владение'] = df_auto['Владение'].apply(convert_time_delta)
df_auto['bodyType'] = df_auto['bodyType'].apply(lambda x: x.lower())

In [16]:
df_auto.shape

(16020, 23)

In [17]:
df_auto[df_auto['Комплектация'] == 'None'].count()

bodyType                12099
brand                   12099
color                   12099
fuelType                12099
modelDate               12099
name                    12099
numberOfDoors           12099
productionDate          12099
vehicleConfiguration    12099
vehicleTransmission     12099
engineDisplacement      12099
enginePower             12099
description             12099
mileage                 12099
Комплектация            12099
Привод                  12099
Руль                    12099
Состояние               12099
Владельцы               12099
ПТС                     12099
Таможня                 12099
Владение                12099
Цена                    12099
dtype: int64

In [18]:
df_auto_1 = df_auto.query("Комплектация not in ['None']")

In [19]:
df_auto_1.shape

(3921, 23)

In [37]:
# df_auto = df_auto.query("modelDate not in [0]")
# def number_doors_correction_1 (item):
#     if item == 0:
#         return(4)
#     else:
#         return(item)
# df_auto['numberOfDoors'] = df_auto['numberOfDoors'].apply(number_doors_correction_1)  
# df_auto['numberOfDoors'] = df_auto['numberOfDoors'].astype(np.float64)
# df_auto = df_auto.query("brand not in ['Москвич']")

In [20]:
df_auto_ready = df_auto_ready.append(df_auto, ignore_index = True)

In [21]:
df_auto_ready.shape

(89830, 23)

In [22]:
df_auto_ready = df_auto_ready.query("Цена not in ['None']")

In [23]:
df_auto_ready = df_auto_ready.drop_duplicates(keep = 'first')

In [24]:
df_auto_ready.shape

(89830, 23)

In [25]:
df_auto_ready = df_auto_ready.reset_index()

In [26]:
df_auto_ready.head(1)

,index,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена
0,0,Седан,BMW,серый,бензин,1968.0,2.5 MT (150 л.с.),4.0,1969,SEDAN MECHANICAL 2.5,механическая,2.5 LTR,150 N12,В продаже оригинальная BMW 2500 Родной двигат...,200000.0,None,задний,Левый,Не требует ремонта,2,Оригинал,Растаможен,9 лет и 7 месяцев,460000

In [27]:
df_auto_ready = df_auto_ready.drop(['index'], axis = 1)
df_auto_ready['id'] = df_auto_ready.index

In [28]:
df_auto_ready.to_csv('BMW_ready__10092020.csv', sep = ';')

In [29]:
df_auto_today = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/train_data/BMW_ready__10092020.csv', sep = ';')

In [30]:
df_auto_today.head(1)

,Unnamed: 0,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена,id
0,0,Седан,BMW,серый,бензин,1968.0,2.5 MT (150 л.с.),4.0,1969,SEDAN MECHANICAL 2.5,механическая,2.5 LTR,150 N12,В продаже оригинальная BMW 2500 Родной двигат...,200000.0,None,задний,Левый,Не требует ремонта,2,Оригинал,Растаможен,9 лет и 7 месяцев,460000,0

In [31]:
df_auto_today = df_auto_today.drop(['Unnamed: 0','id'], axis = 1)

In [32]:
df_auto_today = df_auto_today.drop_duplicates(keep = 'first')

In [33]:
df_auto_today.shape

(78326, 23)

In [34]:
df_auto_today = df_auto_today.reset_index()
df_auto_today['id'] = df_auto_today.index

In [35]:
df_auto_today.to_csv('BMW_ready_10092020.csv', sep = ';')

## Данные для PowerBI

In [4]:
bmw = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/train_data/BMW_ready_10092020.csv', sep=';')
df_auto = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_Toyota_auto_170920.txt', header = None, sep=';')
mercedes = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_MERCEDES_auto_170920_1.txt', header = None, sep=';')      
hyundai = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_Hyundai_auto_170920_2.txt', header = None, sep=';')      
ford = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_Ford_auto_170920_1.txt', header = None, sep=';')      
renault = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_Renault_auto_170920.txt', header = None, sep=';')      
chevrolet = pd.read_csv('C:/Users/Anton/Notebooks/DataScience-Practice/Profitable choosing car/Parsers/Save_CHEVROLET_auto_170920.txt', header = None, sep=';')

In [6]:
columns = ['bodyType','brand','color','fuelType','modelDate','name','numberOfDoors','productionDate','vehicleConfiguration','vehicleTransmission','engineDisplacement','enginePower','description','mileage','Комплектация','Привод','Руль','Состояние','Владельцы','ПТС','Таможня','Владение', 'Цена']
# columns = [
#         'body_type',
#         'brand',
#         'fuel_type',
#         'model_date',
#          'engine_description',
#         'number_of_doors',
#         'production_date',
#         'vehicle_configuration',
#         'vehicle_transmission',
#         'engine_displacement',
#         'engine_power',
#         'complectation',
#         'drive',
#         'stear',
#         'conditions',
#         'owners',
#         'pts',
#         'customs',
#         'ownership', 
#         'price'
# ]

In [7]:
df_auto.columns = columns
mercedes.columns = columns
hyundai.columns = columns
ford.columns = columns
renault.columns = columns
renault.columns = columns

In [10]:
df_auto = df_auto.append(mercedes, ignore_index = True)
df_auto = df_auto.append(hyundai, ignore_index = True)
df_auto = df_auto.append(ford, ignore_index = True)
df_auto = df_auto.append(renault, ignore_index = True)
df_auto = df_auto.append(renault, ignore_index = True)

In [13]:
df_auto.shape

(115089, 23)

In [16]:
df_auto.head(1)

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена
0,седан,Toyota,зеленый,бензин,1971.0,2.0 MT (106 л.с.),4.0,1974,SEDAN MECHANICAL 2.0,механическая,2.0 LTR,106 N12,Краун купе в хорошем состоянии конструктор пр...,158000.0,None,задний,Правый,Не требует ремонта,1,Оригинал,Растаможен,12 лет и 4 месяца,700000

In [20]:
# bmw = bmw.drop(['Unnamed: 0','id'], axis = 1)
bmw = bmw.drop(['index'], axis = 1)
bmw.head(1)

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена
0,Седан,BMW,серый,бензин,1968.0,2.5 MT (150 л.с.),4.0,1969,SEDAN MECHANICAL 2.5,механическая,2.5 LTR,150 N12,В продаже оригинальная BMW 2500 Родной двигат...,200000.0,None,задний,Левый,Не требует ремонта,2,Оригинал,Растаможен,9 лет и 7 месяцев,460000

In [23]:
print(df_auto.shape)
bmw.shape

(193415, 23)

(78326, 23)

In [22]:
df_auto = df_auto.append(bmw, ignore_index = True)

In [25]:
columns_dict = {
        'bodyType':'body_type',
        'fuelType':'fuel_type',
        'modelDate':'model_date',
        'name':'engine_description',
        'numberOfDoors':'number_of_doors',
        'productionDate':'production_date',
        'vehicleConfiguration':'vehicle_configuration',
        'vehicleTransmission':'vehicle_transmission',
        'engineDisplacement':'engine_displacement',
        'enginePower':'engine_power',
        'Комплектация':'complectation',
        'Привод':'drive',
        'Руль':'stear',
        'Состояние': 'conditions',
        'Владельцы':'owners',
        'ПТС':'pts',
        'Таможня':'customs',
        'Владение':'ownership', 
        'Цена':'price'
    }
df_auto.rename(columns = columns_dict, inplace=True)
df_auto.to_csv('auto_for_PoerBI.csv', sep = ';')