In [1]:
import pandas as pd
import numpy as np
import datetime
from dateutil.parser import parse as du_parse
from dateutil.relativedelta import relativedelta
pd.set_option('display.max_rows', 60)
pd.set_option('display.max_columns', 100)

In [2]:
# df = pd.read_csv('C:/Users\Mangol/Notebooks/DataScience-Practice/Profitable choosing car/test_data/test.csv')
# df.head(10)

In [3]:
columns = ['bodyType','brand','color','fuelType','modelDate','name','numberOfDoors','productionDate','vehicleConfiguration','vehicleTransmission','engineDisplacement','enginePower','description','mileage','Комплектация','Привод','Руль','Состояние','Владельцы','ПТС','Таможня','Владение', 'Цена']
columns1 = ['bodyType','brand','color','fuelType','modelDate','name','numberOfDoors','productionDate','vehicleConfiguration','vehicleTransmission','engineDisplacement','enginePower','description','mileage','Комплектация','Привод','Руль','Состояние','Владельцы','ПТС','Таможня','Владение', 'Цена', 'Seller']
# columns = ['body_type','brand','color','fuel_type','model_date','name','number_of_doors','production_date','vehicle_configuration','vehicle_transmission','engine_displacement','engine_power','description','mileage','complectation','drive','stear','conditions','owners','pts','customs','ownership', 'price']
# df_auto1 = pd.DataFrame(columns = ['bodyType', 'brand', 'color', 'fuelType', 'modelDate', 'name', 'numberOfDoors', 'productionDate', 'vehicleConfiguration', 'vehicleTransmission', 'engineDisplacement', 'enginePower', 'description', 'mileage', 'Комплектация', 'Привод', 'Руль', 'Состояние', 'Владельцы', 'ПТС', 'Таможня', 'Владение'])
# df_auto = pd.read_csv('Save_auto1.txt', header = None, sep= ';')

In [6]:
data_dir = 'C:/Users/Mangol/Notebooks/DataScience-Practice/Profitable choosing car/BMW/'
# df_auto = pd.read_csv('C:/Users\Mangol/Notebooks/DataScience-Practice/Profitable choosing car/Save_all_bmw_auto.txt', header = None, sep = ';', names= columns)
df_auto = pd.read_csv(data_dir+'Save_auto_BMW_1er.txt', header = None, sep = ';')
df_auto1 = pd.read_csv(data_dir+'Save_auto_BMW_2er.txt', header = None, sep = ';')
df_auto2 = pd.read_csv(data_dir+'Save_auto_BMW_2er_active_tour.txt', header = None, sep = ';')
df_auto3 = pd.read_csv(data_dir+'Save_auto_BMW_3er.txt', header = None, sep = ';')
df_auto4 = pd.read_csv(data_dir+'Save_auto_BMW_4_5er.txt', header = None, sep = ';')
df_auto5 = pd.read_csv(data_dir+'Save_auto_BMW_6_7.txt', header = None, sep = ';')
df_auto6 = pd.read_csv(data_dir+'Save_auto_BMW_8er_X3.txt', header = None, sep = ';')
df_auto7 = pd.read_csv(data_dir+'Save_auto_BMW_X4_X5.txt', header = None, sep = ';')
df_auto8 = pd.read_csv(data_dir+'Save_auto_BMW_X5_Z4.txt', header = None, sep = ';')
df_auto_big = pd.read_csv(data_dir+'Save_all_bmw_auto1.txt', header = None, sep = ';')
df_auto_big2 = pd.read_csv(data_dir+'Save_allbmw_auto2.txt', header = None, sep = ';')
df_auto_big3 = pd.read_csv(data_dir+'Save_allbmw_auto3.txt', header = None, sep = ';')
df_auto_big4 = pd.read_csv(data_dir+'Save_allbmw_auto4.txt', header = None, sep = ';')
df_auto_big5 = pd.read_csv(data_dir+'Save_allbmw_auto5.txt', header = None, sep = ';')

In [13]:
df_auto_big5.head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23
0,Седан 2 дв.,BMW,FF8649,GASOLINE,1966,2.0 MT (101 л.с.),2,1972,COUPE MECHANICAL 2.0,MECHANICAL,2.0 LTR,101 N12,В СССР прибыл новым В семье с 1977 г Один вл...,117000,None,REAR_DRIVE,LEFT,True,1,ORIGINAL,True,1977.12,1000000,Физик

In [14]:
df_auto = df_auto.append(df_auto1, ignore_index = True)
df_auto = df_auto.append(df_auto2, ignore_index = True)
df_auto = df_auto.append(df_auto3, ignore_index = True)
df_auto = df_auto.append(df_auto4, ignore_index = True)
df_auto = df_auto.append(df_auto5, ignore_index = True)
df_auto = df_auto.append(df_auto6, ignore_index = True)
df_auto = df_auto.append(df_auto7, ignore_index = True)
df_auto = df_auto.append(df_auto8, ignore_index = True)
df_auto = df_auto.append(df_auto_big, ignore_index = True)
df_auto_big2 = df_auto_big2.append(df_auto_big3, ignore_index = True)
df_auto_big2 = df_auto_big2.append(df_auto_big4, ignore_index = True)
df_auto_big2 = df_auto_big2.append(df_auto_big5, ignore_index = True)

In [15]:
df_auto.columns = columns
df_auto_big2.columns = columns1

In [20]:
df_auto_big2 = df_auto_big2.drop(['Seller'], axis = 1)

In [21]:
df_auto = df_auto.append(df_auto_big2, ignore_index = True)

In [22]:
df_auto.shape

(207444, 23)

In [8]:
def convert_time_delta(item):
    year = ''
    month =''
    if item == 'None':
        return('None')
    else:
        item = pd.to_datetime(item, format='%Y.%m', errors='ignore')
        now = datetime.datetime.now()
        d1 = du_parse(str(item))
        d2 = du_parse(str(now))
        delta = relativedelta(d2, d1)


        if delta.years == 1:
            year = 'год'
        elif delta.years in [2,3,4]:
            year = 'года'
        else:
            year = 'лет'


        if delta.months == 1:
            month = 'месяц'
        elif delta.months in [2,3,4]:
            month = 'месяца'
        else:
            month = 'месяцев'
        delta_string = str(delta.years) + ' ' +year +' и ' + str(delta.months) + ' ' +month
        return(delta_string)

def owner_correction (item):
    if item == 'None':
        return('None')
    elif item == 1 or item == '1':
        # item = item.astype(int64)
        owner = 'владелец'
    # elif (item in [2,3,4]) or (item in ['2','3','4'])
    else:
        # item = item.astype(int64)
        owner = 'владельца'
    owner_string = str(item) + ' ' + owner
    return(owner_string)

color_dict = {
    '040001':'чёрный',
    'CACECB':'серебристый',
    'FAFBFB':'белый',
    '97948F':'серый',
    '0000CC':'синий',
    'EE1D19':'красный',
    '007F00':'зеленый',
    '200204':'коричневый',
    'C49648':'бежевый',
    '22A0F8':'голубой',
    'DEA522':'золотистый',
    '660099':'пурпурный',
    '4A2197':'фиолетовый',
    'FFD600':'жёлтый',
    'FF8649':'оранжевый',
    'FFC0CB':'розовый'
}

fuel_dict = {
    'GASOLINE':'бензин',
    'DIESEL':'дизель',
    'ELECTRO':'электро',
    'HYBRID':'гибрид',
    'LPG':'газ'
}

transmission_dict = {
    'AUTOMATIC':'автоматическая',
    'MECHANICAL':'механическая',
    'ROBOT':'роботизированная',
    'VARIATOR':'вариатор'
}

privod_dict = {
    'FORWARD_CONTROL':'передний',
    'REAR_DRIVE':'задний',
    'ALL_WHEEL_DRIVE':'полный'
}

stearing_wheel_dict = {
    'LEFT':'левый',
    'RIGHT':'правый'
}

state_dict = {
    'True':'Не требует ремонта',
    'False':'Битая/Не на ходу'
}

pts_dict = {
    'ORIGINAL':'Оригинал',
    'DUPLICATE':'Дубликат'
}

legal_dict = {
    'True':'Растаможен',
    'False':'Не растаможен'
}

df_auto['color'] = df_auto['color'].replace(to_replace=color_dict)    
df_auto['modelDate'] = df_auto['modelDate'].astype(np.float64)
df_auto['mileage'] = df_auto['mileage'].astype(np.float64)
df_auto['numberOfDoors'] = df_auto['numberOfDoors'].astype(np.float64)
df_auto['fuelType'] = df_auto['fuelType'].replace(to_replace=fuel_dict)   
df_auto['vehicleTransmission'] = df_auto['vehicleTransmission'].replace(to_replace=transmission_dict)
df_auto['Привод'] = df_auto['Привод'].replace(to_replace=privod_dict)
df_auto['Руль'] = df_auto['Руль'].replace(to_replace=stearing_wheel_dict)
df_auto['Состояние'] = df_auto['Состояние'].astype(str)             
df_auto['Состояние'] = df_auto['Состояние'].replace(to_replace=state_dict)
df_auto['ПТС'] = df_auto['ПТС'].replace(to_replace=pts_dict)
df_auto['Таможня'] = df_auto['Таможня'].astype(str)
df_auto['Таможня'] = df_auto['Таможня'].replace(to_replace=legal_dict)
df_auto['Владение'] = df_auto['Владение'].apply(convert_time_delta)
df_auto['Владельцы'] = df_auto['Владельцы'].apply(owner_correction)

In [9]:
df_auto.shape

(4407, 23)

In [10]:
df_new = df_auto.drop_duplicates(keep = 'first')
df_new = df_new.reset_index()
df_new = df_new.drop(['index'], axis = 1)
df_new['id'] = df_new.index

In [11]:
df_auto.shape

(4407, 23)

In [14]:
# df_new.to_csv('auto_ready.csv', sep = ';')
df_new.to_csv('BMW_ready.csv', sep = ';')

In [18]:
df_auto = pd.read_csv('Save_auto.txt', header = None, sep = ';')

FileNotFoundError: [Errno 2] File Save_auto.txt does not exist: 'Save_auto.txt'

In [19]:
df_auto.columns = columns

In [20]:
df_auto.shape

(3703, 23)

In [15]:
#Присоединяем к большому файлу
df_all = pd.read_csv('auto_ready.csv', sep = ';')

In [16]:
df_all = df_all.drop(['Unnamed: 0'], axis = 1)
df_all.head(3)

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена
0,Седан,LADA (ВАЗ),зеленый,бенизин,1997.0,1.5 MT (78 л.с.),4.0,2006,SEDAN MECHANICAL 1.5,механическая,1.5 LTR,78 N12,Для своих лет авто в хорошем состоянии За чет...,253000.0,None,передний,левый,Не требует ремонта,3,Оригинал,Растаможен,4 года и 2 месяца,100000
1,Хэтчбек 5 дв.,Ford,белый,бенизин,2014.0,1.6 AMT (125 л.с.),5.0,2017,HATCHBACK_5_DOORS ROBOT 1.6,роботизированная,1.6 LTR,125 N12,Приобретался в салоне официального дилера в 20...,43000.0,"['multi-wheel', 'heated-wash-system', 'airbag-...",передний,левый,Не требует ремонта,1,Оригинал,Растаможен,2 года и 10 месяцев,680000
2,Компактвэн,Fiat,белый,дизель,2005.0,1.3d MT (75 л.с.),5.0,2008,MINIVAN MECHANICAL 1.2,механическая,1.2 LTR,75 N12,Состояние не требует вложений Очень хороший п...,230000.0,None,передний,левый,Не требует ремонта,3,Оригинал,Растаможен,2 года и 1 месяц,265000

In [15]:
df_all.shape

(9219, 23)

In [17]:
df_all = df_all.append(df_new, ignore_index = True)

In [18]:
df_all.shape

(16995, 23)

In [19]:
df_all = df_all.drop_duplicates(keep = 'first')

In [20]:
df_all.shape

(13982, 23)

In [21]:
df_all.to_csv('auto_ready.csv', sep = ';')

# Новый файл (с выборкой по годам)

In [21]:
import pandas as pd
import numpy as np
import datetime
from dateutil.parser import parse as du_parse
from dateutil.relativedelta import relativedelta
pd.set_option('display.max_rows', 60)
pd.set_option('display.max_columns', 100)
df_auto = pd.read_csv('Save_auto_BMW.txt', header = None, sep = ';')

columns = ['bodyType','brand','color','fuelType','modelDate','name','numberOfDoors','productionDate','vehicleConfiguration','vehicleTransmission','engineDisplacement','enginePower','description','mileage','Комплектация','Привод','Руль','Состояние','Владельцы','ПТС','Таможня','Владение', 'Цена']

df_auto.columns = columns
df_auto.tail(3)

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена
3700,Купе,BMW,CACECB,GASOLINE,1998,320i 2.2 AT (170 л.с.),2,2001,COUPE AUTOMATIC 2.2,AUTOMATIC,2.2 LTR,170 N12,Один из немногих живых автомобилей в этом клас...,500000,None,REAR_DRIVE,LEFT,True,3,DUPLICATE,True,2013.12,370000
3701,Седан Long,BMW,0000CC,GASOLINE,2013,528Li xDrive 2.0 AT (245 л.с.) 4WD,4,2015,SEDAN AUTOMATIC 2.0,AUTOMATIC,2.0 LTR,245 N12,Продаю полноприводную 528 Xdrive 2015 года в о...,70000,None,ALL_WHEEL_DRIVE,LEFT,True,2,ORIGINAL,True,2020.6,1580000
3702,Внедорожник 5 дв.,BMW,040001,DIESEL,2006,3.0d 3.0d AT (235 л.с.) 4WD,5,2007,ALLROAD_5_DOORS AUTOMATIC 3.0,AUTOMATIC,3.0 LTR,235 N12,Продаю BMW x5 в шикарном состоянии ПТС оригин...,230000,None,ALL_WHEEL_DRIVE,LEFT,True,3,ORIGINAL,True,2018.12,1190000

In [8]:
df_auto.shape

(40393, 23)

In [23]:
def convert_time_delta(item):
    year = ''
    month =''
    if item == 'None':
        return('None')
    else:
        item = pd.to_datetime(item, format='%Y.%m', errors='ignore')
        now = datetime.datetime.now()
        d1 = du_parse(str(item))
        d2 = du_parse(str(now))
        delta = relativedelta(d2, d1)


        if delta.years == 1:
            year = 'год'
        elif delta.years in [2,3,4]:
            year = 'года'
        else:
            year = 'лет'


        if delta.months == 1:
            month = 'месяц'
        elif delta.months in [2,3,4]:
            month = 'месяца'
        else:
            month = 'месяцев'
        delta_string = str(delta.years) + ' ' +year +' и ' + str(delta.months) + ' ' +month
        return(delta_string)

def model_date_correction (item):
    if item == 'None':
        return('0')
    else:
        return(item)

def number_doors_correction (item):
    if item == 'None':
        return('0')
    else:
        return(item)

color_dict = {
    '040001':'чёрный',
    'CACECB':'серебристый',
    'FAFBFB':'белый',
    '97948F':'серый',
    '0000CC':'синий',
    'EE1D19':'красный',
    '007F00':'зеленый',
    '200204':'коричневый',
    'C49648':'бежевый',
    '22A0F8':'голубой',
    'DEA522':'золотистый',
    '660099':'пурпурный',
    '4A2197':'фиолетовый',
    'FFD600':'жёлтый',
    'FF8649':'оранжевый',
    'FFC0CB':'розовый'
}

fuel_dict = {
    'GASOLINE':'бензин',
    'DIESEL':'дизель',
    'ELECTRO':'электро',
    'HYBRID':'гибрид',
    'LPG':'газ'
}

transmission_dict = {
    'AUTOMATIC':'автоматическая',
    'MECHANICAL':'механическая',
    'ROBOT':'роботизированная',
    'VARIATOR':'вариатор'
}

privod_dict = {
    'FORWARD_CONTROL':'передний',
    'REAR_DRIVE':'задний',
    'ALL_WHEEL_DRIVE':'полный'
}

stearing_wheel_dict = {
    'LEFT':'Левый',
    'RIGHT':'Правый'
}

state_dict = {
    'True':'Не требует ремонта',
    'False':'Битая/Не на ходу'
}

pts_dict = {
    'ORIGINAL':'Оригинал',
    'DUPLICATE':'Дубликат'
}

legal_dict = {
    'True':'Растаможен',
    'False':'Не растаможен'
}

df_auto['color'] = df_auto['color'].replace(to_replace=color_dict)
df_auto['modelDate'] = df_auto['modelDate'].apply(model_date_correction)  
df_auto['modelDate'] = df_auto['modelDate'].astype(np.float64)
df_auto['mileage'] = df_auto['mileage'].astype(np.float64)
df_auto['numberOfDoors'] = df_auto['numberOfDoors'].apply(number_doors_correction)  
df_auto['numberOfDoors'] = df_auto['numberOfDoors'].astype(np.float64)
df_auto['fuelType'] = df_auto['fuelType'].replace(to_replace=fuel_dict)   
df_auto['vehicleTransmission'] = df_auto['vehicleTransmission'].replace(to_replace=transmission_dict)
df_auto['Привод'] = df_auto['Привод'].replace(to_replace=privod_dict)
df_auto['Руль'] = df_auto['Руль'].replace(to_replace=stearing_wheel_dict)
df_auto['Состояние'] = df_auto['Состояние'].astype(str)             
df_auto['Состояние'] = df_auto['Состояние'].replace(to_replace=state_dict)
df_auto['ПТС'] = df_auto['ПТС'].replace(to_replace=pts_dict)
df_auto['Таможня'] = df_auto['Таможня'].astype(str)
df_auto['Таможня'] = df_auto['Таможня'].replace(to_replace=legal_dict)
df_auto['Владение'] = df_auto['Владение'].apply(convert_time_delta)

In [24]:
df_auto.tail(3)

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена
207441,Седан,BMW,белый,бензин,2018.0,320i xDrive 2.0 AT (184 л.с.) 4WD,4.0,2020,SEDAN AUTOMATIC 2.0,автоматическая,2.0 LTR,184 N12,Автомобиль находится на площадке АО ABTODOM Ст...,0.0,"['cruise-control', 'sport-seats', 'multi-wheel...",полный,Левый,Не требует ремонта,None,Оригинал,Растаможен,None,3350200
207442,Седан,BMW,серый,бензин,2018.0,320i xDrive 2.0 AT (184 л.с.) 4WD,4.0,2020,SEDAN AUTOMATIC 2.0,автоматическая,2.0 LTR,184 N12,ДЕЙСТВИТЕЛЬНО ОГРАНИЧЕННОЕ ПРЕДЛОЖЕНИЕ НА БМВ ...,0.0,"['cruise-control', 'sport-seats', 'multi-wheel...",полный,Левый,Не требует ремонта,None,Оригинал,Растаможен,None,3264200
207443,Внедорожник 5 дв.,BMW,белый,бензин,2017.0,20i xDrive 2.0 AT (184 л.с.) 4WD,5.0,2020,ALLROAD_5_DOORS AUTOMATIC 2.0,автоматическая,2.0 LTR,184 N12,ДЕЙСТВИТЕЛЬНО ОГРАНИЧЕННОЕ ПРЕДЛОЖЕНИЕ НА БМВ ...,0.0,"['cruise-control', 'multi-wheel', 'auto-park',...",полный,Левый,Не требует ремонта,None,Оригинал,Растаможен,None,3890000

In [12]:
df_auto = df_auto.drop_duplicates(keep = 'first')
df_auto['id'] = df_auto.index 
df_auto.shape

(21195, 24)

In [15]:
df_auto.to_csv('BMW_ready.csv', sep = ';')

In [17]:
df_auto.head(3)

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,Цена,id
0,Седан,BMW,серый,бензин,1968.0,2.5 MT (150 л.с.),4.0,1969,SEDAN MECHANICAL 2.5,механическая,2.5 LTR,150 N12,В продаже оригинальная BMW 2500 Родной двигат...,200000.0,None,задний,Левый,Не требует ремонта,2,Оригинал,Растаможен,9 лет и 7 месяцев,460000,0
1,Седан 2 дв.,BMW,оранжевый,бензин,1966.0,2.0 MT (101 л.с.),2.0,1972,COUPE MECHANICAL 2.0,механическая,2.0 LTR,101 N12,В СССР прибыл новым В семье с 1977 г Один вл...,117000.0,None,задний,Левый,Не требует ремонта,1,Оригинал,Растаможен,42 лет и 8 месяцев,1000000,1
3,Седан,BMW,голубой,бензин,1972.0,520 2.0 MT (115 л.с.),4.0,1973,SEDAN MECHANICAL 2.0,механическая,2.0 LTR,115 N12,Продаю BMW 520 на ходу Все вопросы по поводу...,30000.0,None,задний,Левый,Не требует ремонта,1,Оригинал,Растаможен,None,500000,3

In [28]:
df_auto['color'] = df_auto['color'].str.replace('200204','коричневый')
df_auto.color.unique()

array(['серый', 'красный', 'чёрный', 'коричневый', 'серебристый', 'синий',
       'бежевый', 'жёлтый', 'белый', 'голубой', 'золотистый', 'пурпурный',
       'оранжевый', nan, 'зеленый', 'фиолетовый', 'розовый'], dtype=object)

In [38]:
df_auto.shape

(207443, 23)

In [32]:
df_auto = df_auto.query("color not in ['nan']")

In [37]:
df_auto = df_auto.dropna()

In [39]:
df_auto.color.unique()

array(['серый', 'красный', 'чёрный', 'коричневый', 'серебристый', 'синий',
       'бежевый', 'жёлтый', 'белый', 'голубой', 'золотистый', 'пурпурный',
       'оранжевый', 'зеленый', 'фиолетовый', 'розовый'], dtype=object)

In [46]:
df_auto = df_auto.drop_duplicates(keep = 'first')

In [41]:
df_auto.shape

(34790, 23)

In [44]:
df_auto[df_auto['Цена'] == 'None']

Empty DataFrame
Columns: [bodyType, brand, color, fuelType, modelDate, name, numberOfDoors, productionDate, vehicleConfiguration, vehicleTransmission, engineDisplacement, enginePower, description, mileage, Комплектация, Привод, Руль, Состояние, Владельцы, ПТС, Таможня, Владение, Цена]
Index: []

In [43]:
df_auto = df_auto.query("Цена not in ['None']")

In [50]:
df_auto.shape

(34511, 24)

In [49]:
df_auto = df_auto.reset_index()
df_auto = df_auto.drop(['index'], axis = 1)
df_auto['id'] = df_auto.index

In [51]:
df_auto.to_csv('BMW_ready_19082020.csv', sep = ';')